body {
  font-family: Arial, sans-serif;
  background-color: #f9f9f9;
  color: #333;
  text-align: center;
  padding: 50px;
}

h1 {
  color: #4f46e5;
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  background: white;
  margin: 10px auto;
  padding: 10px;
  width: 250px;
  border-radius: 8px;
}
